Veille P2.json
{
  "name": "Veille P2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        32
      ],
      "id": "0ec2e7a9-b1a6-4aab-bfb9-75a0748a38ef",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {
          "wait": true
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "author": "={{ $json.creator }}",
              "color": "#FF0000",
              "timestamp": "={{ $json.isoDate }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -272,
        48
      ],
      "id": "068268e6-d656-4688-b4e3-e01ed8de18a6",
      "name": "Discord2",
      "webhookId": "6f39e2c5-47cf-4090-b79e-19d3cc37986d",
      "credentials": {
        "discordWebhookApi": {
          "id": "owZ1tB46istFxUfc",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -896,
        256
      ],
      "id": "9d5372d9-4029-4562-a78d-7abf03649271",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eX9OrVfURhtB7Rx3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "you're an ai agent whose goal is to relay the latest news on everything related to  AI, Data Engineering, MLOps and Cloud.\n\nOnly take the articles that were made in the last from the 24 hours from the sources below\n\nYou'll be using the ressources cited below and you'll do a quick recap of them and put it into the description section of the parsed ouptut.\n\nhttps://www.stat4decision.com/fr/feed/\nhttps://blog.octo.com/feed/\nhttps://medium.com/feed/tag/data-engineering\nhttps://practicaldataengineering.substack.com/feed\nhttps://towardsdatascience.com/feed",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        32
      ],
      "id": "202fded1-611f-475f-a411-ce537ead8350",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "0"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -768,
        288
      ],
      "id": "8e8bf172-796c-4814-af22-1444012f7b6f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Title\" : \"Example\",\n    \"Description\" : \"this is your daily feed\",\n    \"isoDate\" : \"2026-03-07T17:43:00.000Z\",\n    \"link\": \"Here put your sources\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        240
      ],
      "id": "70da5cf4-f5a1-4003-9e46-305846140379",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -624,
        400
      ],
      "id": "83004dd8-94fc-4135-b772-8aee7a3d686c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "eX9OrVfURhtB7Rx3",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d8926b04-d977-4646-8102-2c55eab706b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ea7e0e80ddf0ba3b8f6d2bb03b988997174ecd10c5aa5f9d3165864eefb937b"
  },
  "id": "IIMRn62BHN4v93V1",
  "tags": []
}